<%- include('./base/header.ejs')%>
<div class="container"></div>
    <div class="alert bg-success my-3">
      <h4 class ="text-center" style="color:white"> Student Added Successfully</h4>
    </div>
</div>
<%- include('./base/footer.ejs')%>